# See https://atom.io/docs/latest/creating-a-package#menus for more details
#'context-menu':
#  'ft-outline-editor': [
#    { label: 'Bold', command: 'outline-editor:toggle-bold' }
#    { label: 'Italic', command: 'outline-editor:toggle-italic' }
#    { label: 'Underline', command: 'outline-editor:toggle-underline' }
#    { type: 'separator' }
#  ]

'menu': [
  {
    label: 'File'
    submenu: [
      { label: 'New Outline', command: 'outline-editor:new-outline' }
    ]
  },
  {
    label: 'Packages'
    submenu: [
      label: 'FoldingText'
      submenu: [
        { label: 'New Outline', command: 'outline-editor:new-outline' },
        { type: 'separator' },
        { label: 'Hoist Item', command: 'outline-editor:hoist' },
        { label: 'Un-Hoist Item', command: 'outline-editor:unhoist' },
        { type: 'separator' },
        { label: 'Group Items', command: 'outline-editor:group-items' },
        { label: 'Promote Child Items', command: 'outline-editor:promote-child-items' },
        { label: 'Demote Trailing Items', command: 'outline-editor:demote-trailing-sibling-items' },
        { type: 'separator' },
        { label: 'User\'s Guide', command: 'foldingtext:open-users-guide' },
        { label: 'Support Forum', command: 'foldingtext:open-support-forum' },
        { label: 'API Reference', command: 'foldingtext:open-api-reference' }
      ]
    ]
  }
]

'context-menu':
  'ft-outline-editor': [
    { label: 'Cut', command: 'core:cut' }
    { label: 'Copy', command: 'core:copy' }
    { label: 'Paste', command: 'core:paste' }
    { type: 'separator' }
    {
      label: 'Formatting'
      submenu: [
        { label: 'Bold', command: 'outline-editor:toggle-bold' },
        { label: 'Italic', command: 'outline-editor:toggle-italic' },
        { label: 'Underline', command: 'outline-editor:toggle-underline' },
        { label: 'Edit Link', command: 'outline-editor:edit-link' },
        { type: 'separator' }
        { label: 'Clear Formatting', command: 'outline-editor:clear-formatting' },
      ]
    },
    { type: 'separator' }
  ]