# See https://atom.io/docs/latest/creating-a-package#menus for more details
#'context-menu':
#  'ft-outline-editor': [
#    { label: 'Bold', command: 'outline-editor:toggle-bold' }
#    { label: 'Italic', command: 'outline-editor:toggle-italic' }
#    { label: 'Underline', command: 'outline-editor:toggle-underline' }
#    { type: 'separator' }
#  ]

'menu': [
  {
    label: 'File'
    submenu: [
      { label: 'New Outline', command: 'outline-editor:new-outline' }
    ]
  },
  {
    label: 'Packages'
    submenu: [
      label: 'FoldingText'
      submenu: [
        { label: 'New Outline', command: 'outline-editor:new-outline' },
        { type: 'separator' },
        { label: 'User\'s Guide', command: 'foldingtext:open-users-guide' },
        { label: 'Support Forum', command: 'foldingtext:open-support-forum' },
        { label: 'API Reference', command: 'foldingtext:open-api-reference' }
      ]
    ]
  }
]

'context-menu':
  'ft-outline-editor': [
    { label: 'Undo', command: 'core:undo' },
    { label: 'Redo', command: 'core:redo' },
    { type: 'separator' },
    { label: 'Cut', command: 'core:cut' },
    { label: 'Copy', command: 'core:copy' },
    { label: 'Paste', command: 'core:paste' },
    { type: 'separator' }
  ]