.breadcrumbwrapper {
  background: $content-background-color;
}

.breadcrumb {
  padding-top:8px;
  margin: 0;
  list-style: none;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
}

.breadcrumb { border: 0px;  display: block;}
.breadcrumb li {font-size: 14px;}
.breadcrumb a {color: $brand-color;}
.breadcrumb a:hover {color: darken($brand-color, 20%);}
.breadcrumb>.active {color: lighten($brand-color, 20%)}
.breadcrumb>li+li:before {color:$brand-color; content: "\003E\00a0";}
